@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700;800;900&family=Open+Sans:wght@300;400;600&family=Roboto+Slab:wght@100;200;300;400;500&display=swap');

div.banner {
    width: 100%;
    height: 100%;
    background-image: url("../../../graphics/image/home/background.png");
    background-position: center;

    div.container {
        position: relative;
        left: 10%;
        width: 40%;
        top: 40%;
        transform: translateY(-50%);

        div.title {
            font-family: 'Inter';
            font-size: 100px;
            line-height: 120px;

            span#typewriter-text {
                color: purple;

                &::after {
                    content: "";
                    height: 110px;
                    width: 10px;
                    margin: 5 5px;
                    background-color: black;
                    display: inline-block;
                    vertical-align: middle;
                    animation: 1s cursor-blinking infinite;
                }
            }
        }

        div.button-box {
            display: inline-flex;
        }
    }
}

div.button {
    background-color: white;
    padding: 10px 20px;
    margin: 0 20px 0 0;
    font-family: 'Open Sans';
    font-size: 15px;
    border: 0px solid black;
    border-radius: 10px;

    div.content {
        margin: 0 auto;
        display: inline-flex;
        div.text {
            padding: 0 5px;

            p {
                margin: 0;
            }
        }

        div.icon {
            padding: 0 5px;
            height: 100%;

            img {
                width: 20px;
            }
        }
    }
}

div.section {
    width: 70%;
    background-color: white;
    padding: 75px 15%;
    font-family: 'Roboto Slab';
    font-weight: 300;
    text-align: justify;
    font-size: 15px;

    div.title-box {
        div.title {
            text-align: center;
            font-family: 'Roboto Slab';
            font-size: 50px;
            text-transform: uppercase;

            &::after {
                content: "";
                width: 10%;
                height: 0.5px;
                margin: 20px 45%;
                display: block;
                background-color: lightgrey;
            }
        }
    }

    div.text-box {
        width: 100%;
        margin-top: 40px;
        display: inline-flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;

        div.item {
            margin: 40px 5%;
            flex-grow: 1;
            flex-basis: 0;
        }

        &.about {
            div.item {
                flex-basis: 310px;
            }

            div.about-text {
                font-family: "Roboto Slab";
                font-weight: 300;
                text-align: justify;
            }

            div.experience-box {
                div.experience {
                    div.description {
                        width: 100%;
                        font-family: 'Inter';

                        p.name {
                            width: 100%;

                            a.time {
                                float: right;
                            }
                        }
                    }

                    div.bar {
                        height: 5px;
                        width: 100%;
                        background-color: lightgray;

                        div.fill {
                            width: 0;
                            height: 100%;
                            background-color: purple;
                            transition: width 2s;
                        }
                    }
                }
            }
        }

        &.projects {
            div.project {
                position: relative;
                height: 300px;
                flex-grow: 0;
                flex-basis: 300px;
                background-color: transparent;
                //border: 1px solid black;

                img.icon {
                    position: absolute;
                    height: 250px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: height 1s;
                }

                div.gradient {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    transition: 1s;
                    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
                    background-size: 100% 200%;
                    background-position: 0% 0%;
                }

                div.menu {
                    position: absolute;
                    transition: 1s;
                    bottom: 0;
                    width: 100%;
                    overflow: hidden;
                    height: 80px;
                    text-align: center;

                    p.name {
                        font-family: 'Inter';
                        font-size: 30px;
                        color: white;
                    }

                    div.button-box {
                        div.button {
                            width: 200px;
                            margin: 3px auto;
                        }
                    }
                }

                &:hover {
                    img.icon {
                        height: 280px;
                    }

                    div.gradient {
                        background-position: 0% 100%;
                    }

                    div.menu {
                        height: 300px;
                    }
                }
            }
        }

        &.statistics {
            display: block;
            
            div.statistic {
                width: 100%;
                p.name {
                    font-family: 'Roboto Slab';
                    font-size: 30px;
                    width: 100%;

                    a.value {
                        font-family: 'Roboto Slab';
                        font-family: 'Inter';
                        color: purple;
                        float: right;
                    }

                    a.to-value {
                        display: none;
                    }
                }
            }
        }
    }
}

div.section.statistics {
    width: 50%;
    padding-right: 25%;
    padding-left: 25%;
}

div.section:nth-child(odd) {
    background-color: #f2f2f2;
}

@keyframes cursor-blinking {

    from,
    to {
        opacity: 100%;
    }

    50% {
        opacity: 0%;
    }
}